.active
  a
    color #e94840
    background-color: #fff;
body
  background-color: #fbf8f8;
  color: #333;
  font-size 14px
img
  vertical-align middle
.head
  transition all 0.5s
  width 100%
  background-color: #fff;
  border-bottom 1px solid #e5e5e5
  padding 2.5px
  box-sizing border-box
  .head_container
    box-sizing border-box
    width 1200px
    margin 0 auto
    display flex
    justify-content space-between
    font: 16px/1.5 latoregular, Verdana, sans-serif;
    padding 0 15px
    .logo
      height  65px
      img
        display block
        width 240px
        height 40px
        margin 8px 0
    .head_nav
      display flex
      align-items center
      .position
        margin-right 50px
      li
        padding 10px 15px
        text-align center
        font-weight 700
        a:hover
          color #e94840;
          transition all 2s
        img
          width 20px
          height 20px
          vertical-align middle
      .shanghu
        padding 4px 6px
        margin-top 5px
        margin-left 15px
        background: #e94840;
        border-radius 5px
        color #fff

.service-center
  width 1200px
  margin 0 auto
  position relative
  h2
    width 1200px
    line-height 85px
    margin 0 auto
    font-size 18px
    font-weight 700
    i
      cursor pointer
    .bright
      margin 0 10px
  .centerleft
    width 960px
    float left
    margin-bottom 50px
    .ctop
      height 220px
      border 1px solid #e5e5e5
      background-color: #fff
      >img
        width 160px
        height 160px
        border 1px solid #e5e5e5
        margin 30px
        float left
      .spm
        float left
        position relative
        top 25px
        i
          display: block
          line-height: 42px
          height: 42px
          &:nth-child(1)
            font-size: 18px;
            color: #1d1515;
          b
            font-size: 20px;
            color: #fc545e;
            margin-left: 10px;
            font-weight 700
            em
              font-size 14px
          .oldpic
            font-size: 14px;
            color: #898989;
            margin-left: 40px;
            font-weight normal
        .yishou
          color: #fb474f;
          margin-left: 10px;
      .spf
        float right
        margin 20px 60px 0 0
        img
          width 115px
          height 115px
        b
          display block
          text-align center
          line-height 30px
          font-size 16px
          font-weight 700
          &:nth-child(3)
            color #fb474f
    .cdown
      padding 30px 20px
      margin-top 10px
      clear both
      background-color: #fff;
      border 1px solid #e5e5e5
      b
        border-bottom 3px solid #fb474f
        padding 5px
        margin-top 10px
        width 66px
        display block
        font-weight 700
      pre
        line-height 24px
        margin 15px 0
        font-size 14px
        color #333333
        padding 9.5px
        font-weight 200
      p
        line-height 24px
        margin 15px 0 5px
        font-size 14px
        white-space pre-wrap
        i
          margin-left 20px
          em
            color #fb474f
  .centerright
    position relative
    margin-left 10px
    width 230px
    float right
    .rightct
      width 230px
      border 1px solid #e5e5e5
      text-align center
      cursor pointer
      background-color: #fff;
      h3
        font-size 20px
        padding-left 10px
        border-bottom 1px solid #e5e5e5
        height 60px
        line-height 60px
        margin 0
        text-align left
        font-weight 700
      img
        text-align center
        margin 40px 50px
        margin-bottom 10px
        vertical-align middle
        width 80px
        height 80px
      p
        padding: 0 10px;
        line-height: 36px;
        font-size 16px
        text-align left
        margin 0 0 2px
        &:nth-child(3)
          font-weight bold
          text-align center
          margin-bottom 20px
        i
          float right
          color #fb474f
    .erweima
      width 230px
      height 290px
      background-image: url(../pages/Info/images/tuijianfuwushang_06.jpg);
      margin-top 10px
      img
        margin 50px 0 0 50px
        width 130px
.baozhang
  text-align: center;
  width: 100%;
  padding-top: 60px;
  background: #fff;
  clear: both;
  h2
    font-size 30px
    font-family "微软雅黑"
    font-weight 800
    margin-top: 20px;
    margin-bottom: 10px;
    i
      color: #fb474f;
  p
    font-size 22px
    color: #3d3838;
    margin 0
.servi
  width: 100%;
  padding-top: 20px;
  background: #fff;
  height: 66px;
  font-family: "微软雅黑";
  ul
    width: 420px;
    margin: 0 auto;
    overflow hidden
    li
      width: 33%;
      float: left;
      text-align: center;
      color: #1d1515;
      font-size: 18px;
      img
        margin-right 10px
        vertical-align middle
.footer
  width 100%
  height 170px
  clear both
  box-sizing border-box
  padding-top 50px
  background #fff
  dl
    width: 1200px;
    margin: 0 auto;
    overflow hidden
    dt
      float left
      font-family "微软雅黑"
      font-size 18px
      font-weight 700
      display block
      line-height 1.42
    dd
      margin-left 30px
      width 1090px
      line-height 30px
      float left
      display block
      a
        font-size 16px
        color: #898989;
        display inline-block
        width 8.6%
        text-align center
        font-weight 200
        cursor: pointer;
        font-family: "微软雅黑";
.beian
  width 100%
  text-align center
  padding-top 50px
  clear both
  box-sizing border-box
  color #333333
  background-color: #fbf8f8;
  .htit
    position: relative;
    bottom: 20px;
    text-align: left;
    font-weight: bold;
    width: 1200px;
    margin: 0 auto;
    background: none;
    color: #1d1515;
    font-size: 18px;
  .hezuo
    width 1200px
    margin 0 auto
    overflow hidden
    li
      float left
      width 10%
      height 60px
      text-align center
      background-color: #fff;
      margin-left 1%
      line-height 55px
      cursor pointer
      img
        vertical-align middle
        border 0
        width 100px
.banquan
  width 100%
  height 40px
  padding-top 0px
  background-color: #fbf8f8;
  p
    width 1200px
    margin 0 auto
    text-align left
    color #898989
    line-height 40px