.active
  a
    color #e94840
    background-color: #fff;
.disable
  color #898989
body
  background-color: #f8f8f8;
  font-size 14px
  color #333
*
  box-sizing border-box
.head
  transition all 0.5s
  width 100%
  background-color: #fff;
  border-bottom 1px solid #e5e5e5
  padding 2.5px
  box-sizing border-box
  .head_container
    box-sizing border-box
    width 1200px
    margin 0 auto
    display flex
    justify-content space-between
    font: 16px/1.5 latoregular, Verdana, sans-serif;
    padding 0 15px
    .logo
      height  65px
      img
        display block
        width 240px
        height 40px
        margin 8px 0
    .head_nav
      display flex
      align-items center
      .position
        margin-right 50px
      li
        padding 10px 15px
        text-align center
        font-weight 700
        a:hover
          color #e94840;
          transition all 2s
        img
          width 20px
          height 20px
          vertical-align middle
      .shanghu
        padding 4px 6px
        margin-top 5px
        margin-left 15px
        background: #e94840;
        border-radius 5px
        color #fff

.htit
  margin 10px auto 0
  background-color: #fff;
  .htit_center
    width 1200px
    margin 0 auto
    height 140px
    line-height 140px
    .htit_left
      float left
      margin-top 10px
      margin-left 10px
      height 120px
      b
        font-size 36px
        font-weight 700
      span
        margin-left 10px
        color: #929292;
        font-size 14px
        i
          color: #121212;
      span:nth-child(3) i
        color: #e84b47;

    .htit_right
      float right
      height 120px
      margin-top 15px
      ul
        li
          display inline-block
          width 100px
          text-align center
          line-height 22px
          margin-top 52px
          font-size 14px
          i
            display block
          .fi
            color #e84b47
          i:nth-child(2)
            position: relative;
            bottom: 30px;
            left: 55px;
            color: #e5e5e5;
.navlist
  width 100%
  height 40px
  line-height 40px
  background #323434
  margin-bottom 22px
  ul
    width 1200px
    margin 0 auto
    li
      width 140px
      height 40px
      text-align center
      display inline-block
      a
        color #fff
    .slibingsclor
      background: #424242;


.service-center
  margin 0 auto
  width 1200px
  position relative
  .center_left
    width 960px
    background-color: #fff;
    float left
    margin-bottom 50px
    h3
      width 95%
      border none
      border-bottom 1px solid #e5e5e5
      margin 0 0 0 3%
      height 60px
      line-height 60px
      color #e5e5e5
      background white
      overflow hidden
      font-size 16px
      span
        .activity
          color #121212
          margin 0
          border-bottom 4px solid #fb474f
          padding-bottom 16px
          cursor pointer
    .fuwu
      .ctop:hover
        background-color: #f8f8f8;
        transition .3s
      .ctop
        height 200px
        border-bottom 1px solid #e5e5e5
        cursor pointer
        img
          margin 25px
          border  1px solid #e5e5e5
          float left
          width 150px
          height 150px
        .xiangqing
          width 64%
          float left
          position relative
          top 25px
          i
            width 99%
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
            display block
            height 42px
            line-height 42px
          & i:nth-child(1)
            font-size: 18px;
            color: #1d1515;
          .price
            margin-top: 20px;
            b
              margin-left 0
              font-size 30px
              color: #fc545e;
              font-weight 700
              em
                font-size 14px
            .oldpic
              margin-left 20px
              font-size 14px
              color: #898989;
              font-weight normal

        .xiaoliang
          float: right;
          margin: 150px 60px 0 0
          color: #929292;
    .space
      width 100%
      background: #f8f8f8;
    .company
      div
        height 40px
        line-height 40px
        font-size 18px
        margin 10px 25px
        img
          vertical-align middle
      .profile
        line-height: 28px;
        margin: 10px 25px 25px;
        font-size: 16px;
    .commentDiv
      .conmentss
        width 96%
        border-bottom  1px solid #e5e5e5
        margin 0 3%
        padding-top 20px
        .touxiang
          width 40px
          height 40px
          border-radius: 6px;
          display: inline-block;
          vertical-align: top
        ul
          display inline-block
          margin-left 20px
          width 92%
          li
            cursor pointer
            display block
            width auto
            height auto
            float: none;
            padding: 0;
            line-height: 28px;
            margin: 0
            .star
              width 70px
              margin-left 0
              img
                vertical-align middle
                width 10px
                height 10px
            em
              margin-left: 10px;
          .commentdetail
            line-height: 26px;
            font-size: 16px;
          .commentimg
            margin 15px auto
          .commentposition
            height 40px
            color: #898989;
    .fenye
      width 100%
      height 152px
      margin 0 auto
      text-align center
      >a
        width 80px
        height 30px
        line-height 30px
        font-size 14px
        margin: 50px 5px;
        background: #fff;
        display: inline-block;
        border 1px solid #e5e5e5
      div
        display inline-block
        a:hover
          background: #fe454a;
          color: #fff;
          transition .5s
        a
          color: #121212;
          display inline-block
          font-size 14px
          border 1px solid #e5e5e5
          width 32px
          height 30px
          line-height 30px
          margin: 50px 5px;
          cursor pointer
          &.acv
            background: #fe454a;
            color: #fff;
  .center_right
    position relative
    margin-left 0
    width 230px
    float right
    .right
      width 230px
      background-color: #fff;
      text-align center
      .erweima
        width 230px
        height 290px
        margin-top 10px
        &.erweima2
          margin-top 0
          padding-top 50px
          background-image url("../pages/ISP/images/fuwushang2_07.jpg")
        &.erweima3
          background-image url("../pages/ISP/images/tuijianfuwushang_06.jpg")
          img
            margin: 50px 0 0 50px;
            text-align: center;
            margin-left: 0;
            width 130px
            height 130px
.baozhang
  text-align: center;
  width: 100%;
  padding-top: 60px;
  background: #fff;
  clear: both;
  h2
    font-size 30px
    font-family "微软雅黑"
    font-weight 800
    margin-top: 20px;
    margin-bottom: 10px;
    i
      color: #fb474f;
  p
    font-size 22px
    color: #3d3838;
    margin 0
.servi
  width: 100%;
  padding-top: 20px;
  background: #fff;
  height: 66px;
  font-family: "微软雅黑";
  ul
    width: 420px;
    margin: 0 auto;
    overflow hidden
    li
      width: 33%;
      float: left;
      text-align: center;
      color: #1d1515;
      font-size: 18px;
      img
        margin-right 10px
        vertical-align middle
.footer
  width 100%
  height 170px
  clear both
  box-sizing border-box
  padding-top 50px
  background #fff
  dl
    width: 1200px;
    margin: 0 auto;
    overflow hidden
    dt
      float left
      font-family "微软雅黑"
      font-size 18px
      font-weight 700
      display block
      line-height 1.42
    dd
      margin-left 30px
      width 1090px
      line-height 30px
      float left
      display block
      a
        font-size 16px
        color: #898989;
        display inline-block
        width 8.6%
        text-align center
        font-weight 200
        cursor: pointer;
        font-family: "微软雅黑";
.beian
  width 100%
  text-align center
  padding-top 50px
  clear both
  box-sizing border-box
  color #333333
  background-color: #fbf8f8;
  .htit
    position: relative;
    bottom: 20px;
    text-align: left;
    font-weight: bold;
    width: 1200px;
    margin: 0 auto;
    background: none;
    color: #1d1515;
    font-size: 18px;
  .hezuo
    width 1200px
    margin 0 auto
    overflow hidden
    li
      float left
      width 10%
      height 60px
      text-align center
      background-color: #fff;
      margin-left 1%
      line-height 55px
      cursor pointer
      img
        vertical-align middle
        border 0
        width 100px
.banquan
  width 100%
  height 40px
  padding-top 0px
  background-color: #fbf8f8;
  p
    width 1200px
    margin 0 auto
    text-align left
    color #898989
    line-height 40px