body
  background-color: #f8f8f8;
  font-size 14px
  color #333
*
  box-sizing border-box
.head
  width 100%
  background-color: #fff;
  border-bottom 1px solid #e5e5e5
  padding 2.5px
  box-sizing border-box
  .head_container
    box-sizing border-box
    width 1200px
    margin 0 auto
    display flex
    justify-content space-between
    font: 16px/1.5 latoregular, Verdana, sans-serif;
    padding 0 15px
    .logo
      height  65px
      img
        display block
        width 240px
        height 40px
        margin 8px 0
    .head_nav
      display flex
      align-items center
      .position
        margin-right 50px
      li
        padding 10px 15px
        text-align center
        font-weight 700
        a:hover
          color #e94840;
        img
          width 20px
          height 20px
          vertical-align middle
      .shanghu
        padding 4px 6px
        margin-top 5px
        margin-left 15px
        background: #e94840;
        border-radius 5px
        color #fff
.htit
  margin 10px auto 0
  background-color: #fff;
  .htit_center
    width 1200px
    margin 0 auto
    height 140px
    line-height 140px
    .htit_left
      float left
      margin-top 10px
      margin-left 10px
      height 120px
      b
        font-size 36px
        font-weight 700
      span
        margin-left 10px
        color: #929292;
        font-size 14px
        i
          color: #121212;
      span:nth-child(3) i
        color: #e84b47;

    .htit_right
      float right
      height 120px
      margin-top 15px
      ul
        li
          display inline-block
          width 100px
          text-align center
          line-height 22px
          margin-top 52px
          font-size 14px
          i
            display block
          .fi
            color #e84b47
          i:nth-child(2)
            position: relative;
            bottom: 30px;
            left: 55px;
            color: #e5e5e5;
.navlist
  width 100%
  height 40px
  line-height 40px
  background #323434
  margin-bottom 22px
  ul
    width 1200px
    margin 0 auto
    li
      width 140px
      height 40px
      text-align center
      display inline-block
      a
        color #fff
    .slibingsclor
      background: #424242;


.service-center
  margin 0 auto
  width 1200px
  position relative
  .center_left
    width 960px
    background-color: #fff;
    float left
    margin-bottom 50px
    h3
      width 95%
      border none
      border-bottom 1px solid #e5e5e5
      margin 0 0 0 3%
      height 60px
      line-height 60px
      color #e5e5e5
      background white
      overflow hidden
      font-size 16px
      span
        .activity
          color #121212
          margin 0
          border-bottom 4px solid #fb474f
          padding-bottom 16px
          cursor pointer
    .fuwu
      .ctop
        height 200px
        border-bottom 1px solid #e5e5e5
        cursor pointer
        img
          margin 25px
          border  1px solid #e5e5e5
          float left
          width 150px
          height 150px
        .xiangqing
          width 64%
          float left
          position relative
          top 25px
          i
            width 99%
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
            display block
            height 42px
            line-height 42px
          & i:nth-child(1)
            font-size: 18px;
            color: #1d1515;
          .price
            margin-top: 20px;
            b
              margin-left 0
              font-size 30px
              color: #fc545e;
              font-weight 700
              em
                font-size 14px
            .oldpic
              margin-left 20px
              font-size 14px
              color: #898989;
              font-weight normal

        .xiaoliang
          float: right;
          margin: 150px 60px 0 0
          color: #929292;
    .space
      width 100%
      background: #f8f8f8;
    .company
      div
        height 40px
        line-height 40px
        font-size 18px
        margin 10px 25px
        img
          vertical-align middle
      .profile
        line-height: 28px;
        margin: 10px 25px 25px;
        font-size: 16px;
